@tailwind base;
@tailwind components;
@tailwind utilities;

.badge.type {
  font-weight: 700;

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

.badge.grass {
  background-color: #7c5;
}

.badge.normal {
  background-color: #aa9;
}
.badge.fire {
  background-color: #f42;
}
.badge.water {
  background-color: #39f;
}
.badge.electric {
  background-color: #fc3;
}
.badge.ice {
  background-color: #6cf;
}
.badge.fighting {
  background-color: #b54;
}
.badge.poison {
  background-color: #a59;
}
.badge.ground {
  background-color: #db5;
}
.badge.flying {
  background-color: #89f;
}
.badge.psychic {
  background-color: #f59;
}
.badge.bug {
  background-color: #ab2;
}
.badge.rock {
  background-color: #ba6;
}
.badge.ghost {
  background-color: #66b;
}
.badge.dragon {
  background-color: #76e;
}
.badge.dark {
  background-color: #754;
}
.badge.steel {
  background-color: #aab;
}
.badge.fairy {
  background-color: #e9e;
}

.text-label {
  color: #cbcbcb;
}
